<div class="min-h-screen bg-white">
  <div class="container mx-auto px-4 py-8">
    <!-- カラコン使用期限通知 -->
    <% if user_signed_in? && current_user&.contact_lenses.expiring_soon&.any? %>
      <div class="max-w-4xl mx-auto mb-8">
        <div class="bg-orange-50 border-l-4 border-orange-400 p-4 rounded-r">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- 警告アイコン -->
              <svg class="h-5 w-5 text-orange-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-orange-800">
                カラコンの使用期限が近づいています
              </h3>
              <div class="mt-2 text-sm text-orange-700">
                <ul class="list-disc pl-5 space-y-1">
                  <% current_user.contact_lenses.expiring_soon.each do |lens| %>
                    <li>
                      <%= lens.name %> - 期限: <%= lens.expiration_date.strftime('%Y年%m月') %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="grid grid-cols-2 gap-6 md:grid-cols-3 max-w-4xl mx-auto">
      
      <!-- 衣装ボタン -->
      <%= link_to costumes_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="costume-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-pink-300 rounded-xl">
            <%= image_tag "icons/costume.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">衣装</span>
          </div>
        </div>
      <% end %>

      <!-- ウィッグボタン -->
      <%= link_to wigs_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="wig-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-blue-200 rounded-xl">
            <%= image_tag "icons/wig.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">ウィッグ</span>
          </div>
        </div>
      <% end %>

      <!-- カラコンボタン -->
      <%= link_to contact_lenses_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="lens-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-orange-200 rounded-xl">
            <%= image_tag "icons/contactlens.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">カラコン</span>
          </div>
        </div>
      <% end %>

      <!-- リストボタン -->
      <%= link_to task_selection_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="task-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-yellow-200 rounded-xl">
            <%= image_tag "icons/select.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">リスト</span>
          </div>
        </div>
      <% end %>

      <!-- BLOGボタン -->
      <%= link_to articles_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="blog-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-green-200 rounded-xl">
            <%= image_tag "icons/article.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">BLOG</span>
          </div>
        </div>
      <% end %>

      <!-- プロフィール設定ボタン -->
      <%= link_to profile_path, class: "transform hover:scale-105 transition-transform duration-300" do %>
        <div class="setting-button">
          <div class="flex flex-col items-center space-y-3 p-4 border-4 border-gray-300 rounded-xl">
            <%= image_tag "icons/setting.svg", class: "h-12 w-12" %>
            <span class="text-xl font-medium text-gray-600">設定</span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- フッター -->
  <footer class="bg-white-800 text-gray py-6 mt-auto">
    <div class="container mx-auto text-center">
      <ul class="space-y-4 sm:space-y-0 sm:flex sm:space-x-6 sm:justify-center">
        <li><%= link_to "利用規約", terms_path, class: "hover:underline text-gray-600" %></li>
        <li><%= link_to "お問い合わせ", contact_path, class: "hover:underline text-gray-600" %></li>
        <li><%= link_to "プライバシーポリシー", privacy_path, class: "hover:underline text-gray-600" %></li>
      </ul>
    </div>
  </footer>
</div>
