<div class="min-h-screen bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 max-w-3xl mx-auto">
      <%= link_to costumes_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">
            <i class="fas fa-tshirt"></i> <!-- アイコン -->
            衣装
          </div>
        </div>
      <% end %>  

      <%= link_to wigs_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">ウィッグ</div>
        </div>
      <% end %>

      <%= link_to contact_lenses_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">カラコン</div>
        </div>
      <% end %>

      <%= link_to task_selection_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">リスト</div>
        </div>
      <% end %>

      <%= link_to articles_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">BLOG</div>
        </div>
      <% end %>

      <%= link_to settings_path, class: "block" do %>
        <div class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
          <div class="text-xl font-semibold text-center">設定</div>
        </div>
      <% end %>
    </div>
  </div>
</div>
