<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for(:title) || "COSchest" %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trix@2.0.0/dist/trix.css">
    <script src="https://cdn.jsdelivr.net/npm/trix@2.0.0/dist/trix.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', type: "module" %>
  </head>

  <body class="bg-white-100">
    <header class="bg-white-800 text-gray p-4 shadow-md">
      <div class="container mx-auto flex justify-between items-center">
        <!-- ロゴ -->
        <%= link_to root_path, class: "flex items-center" do %>
          <%= image_tag 'coschest_logo.png', alt: "COSchestロゴ", class: "h-8 w-auto" %>
        <% end %>

        <!-- ユーザーアイコン -->
        <div class="relative">
          <button class="bg-white-600 rounded-full p-2">
            <%= image_tag 'default_user_icon.png', alt: "ユーザーアイコン", class: "h-8 w-8 rounded-full" %>
          </button>
        </div>
      </div>
    </header>

    <div class="container mx-auto p-4">
      <%= yield %>
      <%= turbo_frame_tag 'modal' %>
    </div>

    <footer class="bg-white-800 text-gray py-6">
      <div class="container mx-auto text-center">
        <ul class="space-y-4 sm:space-y-0 sm:flex sm:space-x-6 sm:justify-center">
          <li><%= link_to "利用規約", "#", class: "hover:underline" %></li>
          <li><%= link_to "お問い合わせ", "#", class: "hover:underline" %></li>
          <li><%= link_to "プライバシーポリシー", "#", class: "hover:underline" %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
